
* {
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(253, 250, 247);
}

.main-container {
  position: relative;
}
/* Title and logo styles start */

.inner-container {
  padding: 10px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.title-container .main-title {
  font-size: x-large;
  margin: 0;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 80%;
  padding: 10px;
}

.go-down-container {
  margin-top: 30px;
}

.go-to-form {
  text-decoration: none;
  scroll-behavior: smooth;
}

.go-down {
  align-self: center;
  font-size: 20px;
  color: black;
  height: 45px;
  opacity: 0.75;
  border-radius: 8px;
  cursor: pointer;
  animation: bounce_513 1s infinite;
}

@keyframes bounce_513 {
  0%,
    100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* Title and logo styles close */

/* Form styles start */

.form-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-group {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input {
  background-color: #F4F4F4;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  height: 50px;
  line-height: 30px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 0.3s ease-in-out;
  font-weight: bolder;
}

.input:focus {
  background-color: #EAEAEA;
}

.input:disabled {
  background-color: #DADADA;
  color: #A3A3A3;
}

.select-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.select-group label {
  margin-bottom: 5px;
}

.select {
  background-color: #F4F4F4;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  height: 50px;
  line-height: 30px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 0.3s ease-in-out;
  font-weight: bolder;
}

.input:read-only {
  background-color: #F4F4F4;
  color: #A3A3A3;
  cursor: not-allowed;
}

.input-group-calc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group-calc input {
  text-align: center;
  color: black;
}

.input-group-calc label {
  margin-bottom: 5px;
}

.radio-btn-group {
  width: 100%;
}

.radio-btn-group p {
  text-align: center;
}

.form-btns {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button-reset {
  width: 100%;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  border: 2.5px solid #444141;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #8c8888;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

.button-reset:hover {
  background-color: #e5e1e1;
  border-color: #8c8888;
  color: black;
  box-shadow: 0px 0px 20px -18px;
}

.button-reset:active {
  transform: scale(0.95);
}

.button-submit {
  width: 100%;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  border: 2.5px solid #1e48c4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #227ae4;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

.button-submit:hover {
  background-color: #dbe9f9;
  color: black;
  border-color: #227ae4;
  box-shadow: 0px 0px 20px -18px;
}

.button-submit:active {
  transform: scale(0.95);
}

/* Form validations styles start */

.is-invalid {
  border: 2px solid red !important;
}
.text-danger {
  color: crimson;
}
/* Form validations styles close */

/* Form styles close */

/* Pop up styles start */
.pop-up-container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: all .2s ease-in;
  background-color: rgb(88, 84, 84, 0.3);
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
}

.pop-up-inner {
  width: 90%;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(253, 250, 247);
  border-radius: 12px;
}

.popUp-image-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.popUp-image-container img {
  width: 150px;
}
.rise-shake {
  animation: jump-shaking 0.83s infinite;
}
@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}
.popUp-image-container h1 {
  font-size: larger;
}
.popUp-image-container p {
  margin: 0;
}
.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.user-info-container p {
  margin: 0;
  text-align: center;
  font-size: 14px;
}
.strong {
  font-weight: bold;
}
#check-question {
  font-weight: bold;
}
.check-btn-container {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.check-btn {
  width: 200px;
  min-width: 100px;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  color: white;
  border: 2.5px solid #058748;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #00bf63;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

.check-btn:hover {
  background-color: #e6f1eb;
  border-color: #00bf63;
  color: black;
  box-shadow: 0px 0px 20px -18px;
}
.active-pop-up {
  display: block;
  visibility: visible;
  opacity: 1;
  z-index: 9;
}

@media only screen and (min-width: 460px ) {

  /* Title and logo styles start */

  .inner-container {
    padding: 40px;
  }
  /* Title and logo styles close */

  /* Form styles start */

  .button-reset,.button-submit {
    width: 200px;
  }

  /* Form styles close */

  /* Pop up styles start */

  .popUp-image-container h1 {
    font-size: x-large;
  }
  .popUp-image-container p {
    font-size: larger;
    margin: 0;
  }

  /* Pop up styles close */
}

@media only screen and (min-width: 769px ) {
  body {
    background-color: rgb(239, 236, 233);
  }

  /* Title and logo styles start */

  .main-container {
    display: flex;
    justify-content: center;
  }
  .inner-container {
    background-color: rgb(253, 250, 247);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .title-container .main-title {
    font-size: xx-large;
    margin-top: 20px;
  }

  /* Title and logo styles close */

  /* Form styles start */

  .form-container {
    padding: 0px;
  }
  .form-btns {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button-reset,.button-submit {
    width: 100%;
  }

  /* Form styles close */

  /* Pop up styles start */
  .pop-up-inner {
    width: 600px;
  }
  .popUp-image-container h1 {
    font-size: xx-large;
  }
  .popUp-image-container p {
    font-size: x-large;
    margin: 0;
  }
  .user-info-container {
    gap: 12px;
  }
  .user-info-container p {
    margin: 0;
    text-align: center;
    font-size: 16px;
  }

  /* Pop up styles close */
}

