<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <main class="main-container">
        <section class="inner-container">
            <div class="title-container">
                <h1 class="main-title">Bienvenido(a)</h1>
                <div class="img-container">
                    <img class="logo-img" src="/images/logos/logoWithoutBg.png" alt="">
                </div>
                <div>
                    <p><strong>Ingresa tus datos en el formulario</strong></p>
                </div>
                <div class="go-down-container">
                    <a class="go-to-form" href="#form"><i class="fa-solid fa-caret-down go-down"></i></a>
                </div>
            </div>
            <form class="form-container" id="form"  action="">
                <div class="input-group">
                    <input required class="control-form input" type="text" id="name" placeholder="Nombre completo">
                </div>
                <div class="input-group">
                    <input required class="control-form input" type="number" id="id" placeholder="Numero de identificacion">
                </div>
                <div class="select-group">
                    <label for="city">¿De que ciudad vienes?</label>
                    <select class="select" name="" id="city">
                        
                        <option selected value="none">Selecciona una ciudad <i class="fa-solid fa-caret-down"></i> </option>
                        <% cities.forEach((city) => { %>
                            <option value="<%= city %>"><%= city %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="input-group">
                    <input class="control-form height-input input" step="any" type="number" id="height" placeholder="Altura en mts">
                </div>
                <div class="input-group">
                    <input class="control-form weight-input input"  type="number" id="weight" placeholder="Peso en kg">
                </div>
                <div class="input-group-calc">
                    <label for="IMC">Tu IMC(índice de masa corporal) es:</label>
                    <input type="text" class="IMC-input input" disabled placeholder="">
                </div>
                <div class="select-group">
                    <label for="size">Talla camiseta:</label>
                    <select class="select" required name="" id="size">
                        <option selected value="">Slecciona una opcion</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>
                <div class="radio-btn-group">
                    <p>¿Durante el ejercicio o deporte que practica ha tenido dolor en el pecho?</p>
                    <div>
                        <input type="radio" id="radio-btn-yes" name="question" value="1">
                        <label for="radio-yes">Si.</label>
                        <input type="radio" id="radio-btn-no" name="question" value="0">
                        <label for="radio-no">No.</label>
                    </div>
                </div>
                <div class="input-group-calc">
                    <label for="valoration">Valoracion:</label>
                    <input class="input" type="text" id="valoration" disabled placeholder="Resultado de valoracion">
                </div>
                <div class="form-btns">
                    <button class="button-reset" type="reset">Cancelar</button>
                    <button class="button-submit" type="submit">Guardar</button>
                </div>
            </form>
        </section>
    </main>
    <%- include("./partials/scripts.ejs") %>
</body>
</html>
